/* Footer CSS */

/* .footer-wrapper {
  background-color: black;
  color: white;
  height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  margin-top: 5px;
  font-size: 30px;
}

.footer-icons i {
  margin: 10px;
  color: rgba(255, 255, 255, 0.8) !important;
}

.footer-icons i:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.copyright-text {
  margin-top: 20px;
  font-size: 12px;
} */
