body, html, .view{
    height:100%;
}

.bg1{
    background-image: url("../img/Homepage/2.jpg");
    /* opacity: 0.8; */

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg2{
    background-image: url("../img/Homepage/1.jpg");
    /* opacity: 0.8; */

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg3{
    background-image: url("../img/Homepage/3.jpg");
    /* opacity: 0.8; */

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg4{
    background-image: url("../img/Homepage/4.jpg");
    /* opacity: 0.8; */

    height:100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    letter-spacing: 2px;
}

.top-nav-collapse {
    background-color: #3f51b5 !important;
  }
  
  .navbar:not(.top-nav-collapse) {
    background: transparent !important;
  }
  
  @media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
      background: #3f51b5 !important;
    }
  }

  .first{
    margin-top: 200px;
  }
  .second{
    margin-top: 100px;
  }

  .second-img{
    margin-top: 150px;
  }

  .third{
    margin-top: 100px;
  }

  .wow{
    visibility: hidden;
  }

  .vertical-center{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
  }