/* @import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'); */

/* 
@media (max-width: 700px) {
   .notice {
      margin-top: 32px;
      font-size: 24px !important;
   }
} */

body {
  background: #fafafa;
  font-family: "Google Sans", sans-serif;
}

/* ---- Navbar styles ---- */
.navbar {
  background-color: #fafafa;
}

.nav-bg {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  max-width: 80%;
}

.dsc-logo {
  max-width: 90%;
}

@media (min-width: 600px) {
  .dsc-logo {
    max-height: 90%;
    max-width: 400px;
  }
}

.navbar-nav {
  font-size: 1.125rem;
}

.navbar-expand-lg .collapse:not(.show) .nav-link.lg-item {
  padding: 1.5rem;
  /* color: #333; */
}

/* .navbar-expand-lg.nav-bg .collapse:not(.show) .nav-link.lg-item {
   padding-top: 1.125rem;
   padding-bottom: 1.125rem;
} */

/* ---- Minor tweaks ---- */

.btn-primary {
  background-color: #4285f4;
  border-color: #4285f4;
}

/* 400px + 0.125 * (100vw - 400px) */
/* .description {
   max-width: calc(12.5vw + 350px); 
} */

.card {
  background-color: #fafafa;
}

/* .card img {
   box-shadow: 0 0 50px 8px rgba(0, 0, 0, 0.03);
   background-color: #fff;
} */

.list-item {
  padding: 0.5rem 1rem 0.5rem 0.25rem;
  margin-left: 1.5rem;
}

/* ---- Utility ---- */
.mh-vh-50 {
  max-height: 50vh;
}
